.nav {
    background-color: #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }

  .logofoto {
    height: 50px;
    width: auto;
    margin-right: 15px;
  }

  .main-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  

  .links a {
    text-decoration: none;
    color: rgb(214, 211, 211);
    font-size: 18px;
  }
  
