.peliculaGrid {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
   
  }
  
  .peliculaLista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
     margin-bottom: 20px;
  }
  
  .peliculaBox {
    
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
  }

  
  .loading {
    font-size: 18px;
    color: #000000;
  }
  
  .verTodas {
    text-decoration: none;
    display: block;
    
  }
  
  .verTodas h3 {
    color: black;
    font-size: 20px;
    font-weight: bold;

  }
  
 
  