.caja-pelicula {
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 220px;
    margin-bottom: 20px;
  }
  

  .pelicula-imagen {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .titulo-peli {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .boton-ver-mas {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 10px;
  }
  
  .descripcion {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .ver-detalle {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }

  .boton-favorito {
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;

  }
  
