.caja-pelicula {
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 220px;
    margin-bottom: 20px;
  }
  

  .imagenPeli {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .titulo {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  
  .botonVerMas {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 10px;
  }
  
  .descripcion {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .verDetalle {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }

  .botonFavorito {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;

  }
  
