.App {
  text-align: center;

}

body{
  background-color:#ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.not-found-container {
  text-align: center;
  padding: 50px;
  color: #202020;
}

.not-found-404 {
  font-size: 120px;
  margin: 0;
}

.not-found-message {
  font-size: 30px;
  margin: 20px 0;
}

.not-found-button {
  padding: 10px 20px;
  background-color: #6e069e;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}



.home {
  padding: 20px;
  background-color: #ffffff;
}


.titulo_home {
  font-size: 24px;
  margin-bottom: 15px;
  color: #000000;
  text-align: center;
  font-family: Arial, sans-serif;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.not-found-404 {
  font-size: 130px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.not-found-message {
  font-size: 18px;
  color: #555;
  margin: 10px 0 20px;
  text-align: center;
}

.not-found-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}



.banner{
  width: 100%;
  border:5px solid black;
}